{% extends "layout.html" %}
{% block content %}

	<section id="form">
				<div    style="  margin:auto;
                      width:20%;
                     ">
        
                    <div class="login-form" style="width:300px; height: 300px; text-align: center; margin-left: 30px; border: #2a6496; border-style: solid"><!--login form-->
						<h2>My Account</h2>

                        <label>Name:</label>
                        {{ user.last_name }}, {{ user.first_name }}
                        <br>
                        <label>Joined:</label>
                        {{ user.date_joined }}
                        <br>
                        <label>Username:</label>
                        {{ user.get_username }}
                        <br>
                        <label>Email:</label>
                        {{ user.email }}
                        
                        <p>
                            <a class="btn btn-sm btn-danger" href="{% url 'delete-user' user.id %}">Delete Account</a>
					    </p>
                        <p>
                            <a class="btn btn-sm btn-info" href="{% url 'update-user' %}">Update Account</a>
                        </p>
                        <p>

                        {% if user_type == 'D' %}
                        <a class="btn btn-sm btn-success" style="
                        float:right; margin-right:20%"  href="{% url 'update-doctor' doctor.id %}" > Update Personal info </a>
                        {% else %}
                            <a class="btn btn-sm btn-success" style="
                            float:right; margin-right:20%"  href="{% url 'update-pacient' pacient.id %}" > Update Personal info </a>
                        {% endif %}
                        </p>

                    </div><!--/login form-->
				</div>


    
    </section>
{% endblock %}

