{% extends "layout.html" %}
{% block content %}
	<section ><!--form-->
        <div class="row">
				<div class="col-sm-4 col-sm-offset-4" >

                        <div class="login-form"><!--login form-->
                            <h2>Please, fill in all fields.</h2>
                            <form method="POST" action="." enctype= multipart/form-data>
							{% csrf_token %}

							<tr>
								<td>Name</td><td>{{form.name}}</td>
								<td>Gender</td><td>{{form.gender}}</td>
                                <td>Specialization</td><td>{{form.specialization}}</td>
								<td>Address</td><td>{{form.address}}</td>
								<td>Phone Number</td><td>{{form.phone_number}}</td>
								<td>Date of Birth</td><td><input type="date" name="birth_date" value="{{form.birth_date|date:'yyyy-mm-dd'}}" required=True></td>
								<td>ID Card</td><td>{{form.id_card}}</td>
							</tr>
                                <button style="float:right;" type="submit" class="btn btn-default">Submit</button>
                            </form>
                        </div><!--/login form-->
                    </div>
                <br><br>


		</div>
        </div>
    </section>
{% endblock %}

