{% extends "layout.html" %}
{% block content %}

    <style>
        .styled-table {
            border-collapse: collapse;
            width:76%;
            margin-left:12%;
            margin-right:12%;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
        }
        .styled-table thead tr {
            background-color: #009879;
            color: #009879;
            text-align: left;
        }

            .styled-table th,
             .styled-table td {
                padding: 30px 15px;
                }


            .styled-table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            .styled-table tbody tr:last-of-type {
                border-bottom: 2px  #009879;
            }

            .styled-table tbody tr.active-row {
                color: #009879;
            }
    </style>
    <!--PRODUCTS MANAGEMENT-->
      



	<section style="width: 100%; height:auto"><!--form-->
 
        <div   >
                <div   >
                    <a class="btn btn-sm btn-success" style="
                    float:right;margin-right:180px"  href="{% url 'create-consult' %}" > Create Consult </a>    

                <table class="styled-table">
                <tr>
                    <th>CONSULT ID</th>

                    <th>To</th>
                    <th>From</th>
                    <th>Description</th>
                    <th style="color:red">Status </th>
                    <th style="color:orange">Pacient first name</th>
                    <th style="color:orange">Pacient last name</th>

                    <th style="color:orange">Pacient ID card</th>

                    <th style="color:#2a6496">Doctor first name</th>
                    <th style="color:#2a6496">Doctor last name</th>

                    <th style="color:#2a6496">Doctor specialization</th>
                    <th style="color:#2a6496">Doctor ID card</th>
                    <th>Update</th>
                    <th>Remove</th>
           
                </tr>
                {% for consult in consults %}
                    <tr>
                        <th>{{ consult.id }}</th>

                        <th>{{ consult.consult_date }}</th>
                        <th>{{ consult.scheduled_date }}</th>
                        <th>{{ consult.description }}</th>
                        <th style="color:red">{{ consult.status }}</th>

                 
                        <th style="color:orange">{{ consult.first_name_pacient }}</th>
                        <th style="color:orange">{{ consult.last_name_pacient }}</th>

                        <th style="color:orange">{{ consult.pacient_id_card }}</th>

                        <th style="color:#2a6496">{{ consult.first_name_doctor}}</th>
                        <th style="color:#2a6496">{{ consult.last_name_doctor }}</th>
                        <th style="color:#2a6496">{{ consult.specialization}}</th>
                        <th style="color:#2a6496">{{ consult.doctor_id_card}}</th>


                        <th><a class="btn btn-sm btn-info" href="{% url 'update-consult' consult.id %}">Update</a></th>
                        <th><a class="btn btn-sm btn-danger" href="{% url 'deleteConsult' consult.id %}">Delete</a></th>

                    </tr>
                {%  endfor %}
                </table>
                <br>
                            <br>
                            <br>
                            <br>
                            <br>	<br>
                            <br>
                            <br>
                            <br>
                            <br>
        </div>
    </div>
	</section>



{% endblock %}

