{% extends "layout.html" %}
{% block content %}

    <style>
        .styled-table {
            border-collapse: collapse;
            width:76%;
            margin-left:12%;
            margin-right:12%;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
        }
        .styled-table thead tr {
            background-color: #009879;
            color: #009879;
            text-align: left;
        }

            .styled-table th,
             .styled-table td {
                padding: 30px 15px;
                }


            .styled-table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            .styled-table tbody tr:last-of-type {
                border-bottom: 2px  #009879;
            }

            .styled-table tbody tr.active-row {
                color: #009879;
            }
    </style>
    <!--PRODUCTS MANAGEMENT-->
      



	<section style="width: 100%; height:auto"><!--form-->

        <div   >
                <div   >

                <table class="styled-table">
                    <th><h2>Pacients</h2></th>

                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Phone_number</th>

                    <th>Birth_date</th>
                    <th>Id card</th>
                    <th>Remove</th>
           
                </tr>
                {% for pacient in pacients %}
                    <tr>
                        <th>{{ pacient.name }}</th>
                        <th>{{ pacient.gender }}</th>
                        <th>{{ pacient.address }}</th>
                        <th>{{ pacient.phone_number }}</th>
                        <th>{{ pacient.birth_date }}</th>
                        <th>{{ pacient.id_card }}</th>

                        <th><a class="btn btn-sm btn-danger" href="{% url 'deletePacient' pacient.id %}">Delete</a></th>
                    </tr>
                {%  endfor %}
                </table>
        </div>
    </div>
	</section>
    <br>
  
    <section style="width: 100%; height:auto"><!--form-->
        <div>
                <div  >

                <table class="styled-table">
                    <th><h2>Doctors</h2></th>

                <tr>
                    <th>Name</th>
                    <th>Specialization</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Phone_number</th>

                    <th>Birth_date</th>
                    <th>Id card</th>
                    <th>Remove</th>
           
                </tr>
                {% for doctor in doctors %}
                    <tr>
                        <th>{{ doctor.name }}</th>
                        <th>{{ doctor.specialization }}</th>

                        <th>{{ doctor.gender }}</th>
                        <th>{{ doctor.address }}</th>
                        <th>{{ doctor.phone_number }}</th>
                        <th>{{ doctor.birth_date }}</th>
                        <th>{{ doctor.id_card }}</th>

                        <th><a class="btn btn-sm btn-danger" href="{% url 'deleteDoctor' doctor.id %}">Delete</a></th>
                    </tr>
                {%  endfor %}
                </table>
        </div>
    </div>
    <br>
    <br>
    <br>    <br>
    <br>    <br>
    <br>
	</section>



{% endblock %}

