{% extends "layout.html" %}
{% block content %}
	<section ><!--form-->
    <div class="row">
				<div class="col-sm-4 col-sm-offset-4" >

					<div class="login-form"><!--login form-->
						<h2>Create new consult</h2>
					    <form method="POST" action="." enctype= multipart/form-data>
						    {% csrf_token %}

                            <label>Consult date:</label>
                            {{ form.consult_date }}
                            <br>
                            <label>Doctor:</label>
                            
                            <select name="selec_doct" class="select" >
                                {% for doctor in doctors %}
                                    <option  value="{{doctor.id_card}}">
                                        {{doctor.first_name|capfirst}} {{doctor.last_name|capfirst}}  ---  {{doctor.specialization|capfirst}}
                                    </option>
                                {% endfor %}
                            </select>
                            
                            <br>
                    
                            <label>Description:</label>
                            {{ form.description }}
                            <button style="float:right;" type="submit" class="btn btn-default">Create Consult</button>
						</form>
					</div><!--/login form-->

                    
                <br><br>
                {% if error %}
                    <div class="alert alert-danger">
                         All fields must be filled!
                    </div>
                {% endif %}
		</div>
{% endblock %}

