{% extends "layout.html" %}
{% block content %}

    <style>
        .styled-table {
            border-collapse: collapse;
            width:76%;
            margin-left:12%;
            margin-right:12%;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
        }
        .styled-table thead tr {
            background-color: #009879;
            color: #009879;
            text-align: left;
        }

            .styled-table th,
             .styled-table td {
                padding: 30px 15px;
                }


            .styled-table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            .styled-table tbody tr:last-of-type {
                border-bottom: 2px  #009879;
            }

            .styled-table tbody tr.active-row {
                color: #009879;
            }
    </style>
    <!--PRODUCTS MANAGEMENT-->
      



	<section style="width: 100%; height:auto"><!--form-->

        <div >
                <div   >

                <table class="styled-table">
                <tr>
                    <th>Doctor name</th>
                    <th>Doctor specialization</th>
                    <th>Doctor gender</th>
                    <th>Doctor address</th>
                    <th>Doctor phone_number</th>
                    <th>Doctor birth_date</th>
                    <th>Doctor id_card</th>
              
           
                </tr>
                    <tr>
                        <th>{{ doctor.name }}</th>
                        <th>{{ doctor.specialization }}</th>
                        <th>{{ doctor.gender }}</th>
                        <th>{{ doctor.address }}</th>
                        <th>{{ doctor.phone_number }}</th>
                        <th>{{ doctor.birth_date }}</th>
                        <th>{{ doctor.id_card }}</th>
                    </tr>
                </table>
        </div>
    </div>
	</section>



{% endblock %}

