{% extends "layout.html" %}
{% block content %}

    <style>
        .styled-table {
            border-collapse: collapse;
            width:76%;
            margin-left:12%;
            margin-right:12%;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
        }
        .styled-table thead tr {
            background-color: #009879;
            color: #009879;
            text-align: left;
        }

            .styled-table th,
             .styled-table td {
                padding: 30px 15px;
                }


            .styled-table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            .styled-table tbody tr:last-of-type {
                border-bottom: 2px  #009879;
            }

            .styled-table tbody tr.active-row {
                color: #009879;
            }
    </style>
    <!--PRODUCTS MANAGEMENT-->
      



	<section style="width: 100%; height:auto"><!--form-->
        <p>
            <a class="btn btn-sm btn-success" style="
             float:right;margin-right:180px"  href="{% url 'create-room' %}" >Create Room </a>
         </p>
        <div   >
                <div   >

                <table class="styled-table">
                <tr>
                    <th>Number</th>
                    <th>Floor </th>
     
                    <th>Update</th>
                    <th>Remove</th>
           
                </tr>
                {% for room in rooms %}
                    <tr>
                        <th>{{ room.number }}</th>
                        <th>{{ room.floor }}</th>
            
                        <th><a class="btn btn-sm btn-info" href="{% url 'update-room' room.id %}">Update</a></th>
                        <th><a class="btn btn-sm btn-danger" href="{% url 'deleteRoom' room.id %}">Delete</a></th>

                    </tr>
                {%  endfor %}
                </table>
        </div>
    </div>
	</section>



{% endblock %}

